body, html{
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

body{
  padding-top: 80px;
}

a{
  text-decoration: inherit;
  color: inherit;
}

a:hover{
  color: inherit;
}

button{
  outline: 0;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
}

input, textarea {
  font-family: 'Noto Sans KR', sans-serif;
}

ul{
  padding: 0;
}